#Spot_1 {
    background-color: rgba(23, 57, 119, 0.808);
    text-align: center;
    list-style-type: none;
    color: white;
    max-width: 375px;
    margin: 0 0 0 0;
}

h1 {
    font-size: 13px;
}

h3 {
    font-size: 13px;
}

#lista {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}
#lista img {
    width: 10%;
    height: 20%;
}

ul#menu li {
    display:inline;
}

#logo {
    padding: 1%;
    padding-top: 2%;
    padding-right: 65%;
}

* {
    margin: auto;
    max-width: 375px;
}

#Spot_2 {
    text-align: center;
}

#Spot_2 h1 {
    color: rgba(10, 10, 85, 0.89);
}

#Spot_2_box p {
    font-size: 11px;
    color: rgb(5, 5, 78);
}

#Spot_2_box h6 {
    font-size: 7px;
    color: rgb(10, 10, 97);
}

#Spot_2_box h5 {
    color: white;
}

.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    background-color:rgba(160, 225, 255, 0.13);
    display: inline-block;
    font-size: 13px;
    width: 20%;
    margin: 2.5%;
    border-radius: 10px;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav li img {
    height: 25px;
    width: 25px;
}

#cislo {
    padding: 1px;
    background-color: rgba(49, 125, 211, 0.884);
    border-radius: 50px;
    margin: 0 40% 0 40%;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#but1 {
    background-color: rgba(6, 6, 102, 0.925);
    color: white;
    border: none;
    border-radius: 9px;
    font-size: 11px;
    padding: 1% 5% 1% 5%;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav li:hover {
    background-color:rgba(160, 225, 255, 0.473);
    cursor: pointer;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.445), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#but1:hover {
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.726), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(6, 6, 102, 0.774);
}

#Spot_3 {
    background-color:rgb(73, 158, 255);
    padding: 5%;
    background-image: url("silueta2.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav2 li {
    display: inline-block;
    font-size: 13px;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    padding: 2% 2% 5% 2%;
    margin: 2%;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Spot_3 h4 {
    font-size: 8px;
}

#Spot_3 p {
    font-size: 6px;
}

#but2 {
    width: 30%;
    margin: 5% 35% 5% 35%;
    background-color: rgba(6, 6, 102, 0.925);
    color: white;
    border: none;
    border-radius: 9px;
    font-size: 11px;
    padding: 1% 5% 1% 5%;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#but2:hover {
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.726), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(6, 6, 102, 0.774);
}

.nav2 li:hover {
    background-color:rgba(255, 255, 255, 0.747);
    cursor: pointer;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.445), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav3 li {
    display: inline-block;
    font-size: 13px;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    padding: 2% 2% 5% 2%;
    margin: 2%;
    box-shadow: 5px 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pozice {
   margin: 0 0 0 67%;
   color: white;
}

#pozice h1 {
    font-size: 13px;
 }

hr.hrcolor {
    border: 1px solid white;
}

.nav3 li:hover {
    background-color:rgba(255, 255, 255, 0.747);
    cursor: pointer;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.445), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr#hr2 {
    border: 1px solid rgba(6, 6, 102, 0.925);
    border-radius: 5px;
    margin: 3% 0 3% 0;
}

#Spot_4 {
    padding: 5%;
}

#Spot_4 h1 {
    color: rgba(6, 6, 102, 0.925);
}

#Spot_5 {
    padding: 5%;
    background-color: rgba(173, 216, 230, 0.445);
}

#Spot_5 h1 {
    color: rgba(6, 6, 102, 0.925);
    margin: 0 0 0 50%;
    font-size: 13px;
}

#kontakt {
    color: rgba(6, 6, 102, 0.856);
    width: 40%;
    margin: 0 0 0 60%;
    text-align: center;
}

#kontakt h3 {
    font-size: 12px;
}

#kontakt p {
    font-size: 6px;
}

#Spot_5 img {
    width: 50%;
}